In [23]:
from sklearn import tree
import pandas as pd
import os

In [24]:
df = pd.read_csv(os.path.join("final_data.csv"))
df.head(1)

,mine_id,Operational Process,Date,State,Resource Mined,Underground Method,Accident Injury Illness Classification,Accident Type,Injury Count,Sex,...,Operator Contractor,Commodity WorkStatus,General Incident Type,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,1200945,Dredging Activities,13/10/2020,Indiana,Sand & gravel,0,Handling material,Caught in-under-between a moving and stationar...,1,Female,...,Operator,Sand & gravel operator,Handling material,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model 2 - Injured Body Part (IBP)

In [25]:
IBP_target = df["Injured Body Part"]
data = df[["Sex","Age", "Occupation"]]
data.head()

      Sex      Age      Occupation
0  Female  20 - 29  Labourer Roles
1  Female  30 - 39  Labourer Roles
2  Female  30 - 39  Labourer Roles
3  Female  30 - 39  Labourer Roles
4  Female  30 - 39  Labourer Roles

In [26]:
data_dummies = pd.get_dummies(data)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_dummies, IBP_target)

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.24979321753515302

In [29]:
# This is how we predict. 
rf.predict([[1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])

array(['Shouler and Arm'], dtype=object)

In [30]:
# Export the Output Headers to Excel
X_train.to_csv("Machine Learning Output - Body Part Injured.csv", index=False)

In [31]:
sorted(zip(rf.feature_importances_,data_dummies.columns))

[(0.0034341730528988424, 'Age_80 - 89'),
 (0.00837107950257403, 'Occupation_Apprentice or Trainee Roles'),
 (0.02116122821550375, 'Age_70 - 79'),
 (0.02791874931034021, 'Age_<20'),
 (0.032464871182700326, 'Occupation_Maritime Roles'),
 (0.03390945257638473, 'Occupation_Explosives Roles'),
 (0.03602398754263289, 'Occupation_Other Role'),
 (0.04507951957472292, 'Age_60 - 69'),
 (0.04814605496747553, 'Occupation_Mine Supervisory and Management Roles'),
 (0.051502704186568805,
  'Occupation_Technical Services (Geology, Survey, Engineer, Lab. Tech, OHS etc.)'),
 (0.052333033875194175, 'Sex_Male'),
 (0.05243991596122499, 'Occupation_Trades Roles'),
 (0.0538995014662078, 'Occupation_Underground Miner and Support Roles'),
 (0.05451295080691627, 'Occupation_Driller and Support Roles'),
 (0.05572510085255781, 'Occupation_Fixed Plant Operator and Support Roles'),
 (0.05602682060852008, 'Sex_Female'),
 (0.05682419642518709, 'Age_40 - 49'),
 (0.05749229848358485, 'Age_30 - 39'),
 (0.061717894589136284, 'Occupation_Labourer Roles'),
 (0.062147290299989146, 'Age_50 - 59'),
 (0.06365239224820411, 'Age_20 - 29'),
 (0.0652167842714755, 'Occupation_Mobile Plant Operator Roles')]