In [37]:
from sklearn import tree
import pandas as pd
import os

In [38]:
df = pd.read_csv(os.path.join("final_data.csv"))
df.head(1)

,mine_id,Operational Process,Date,State,Resource Mined,Underground Method,Accident Injury Illness Classification,Accident Type,Injury Count,Sex,...,Operator Contractor,Commodity WorkStatus,General Incident Type,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,1200945,Dredging Activities,13/10/2020,Indiana,Sand & gravel,0,Handling material,Caught in-under-between a moving and stationar...,1,Female,...,Operator,Sand & gravel operator,Handling material,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model 3 - Source of Injury (SOI)

In [39]:
target = df["Source of Injury"]
data = df[["Sex","Age", "Occupation"]]
data.head()

      Sex      Age      Occupation
0  Female  20 - 29  Labourer Roles
1  Female  30 - 39  Labourer Roles
2  Female  30 - 39  Labourer Roles
3  Female  30 - 39  Labourer Roles
4  Female  30 - 39  Labourer Roles

In [40]:
data_dummies = pd.get_dummies(data)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_dummies, target)

In [42]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.11000827129859388

In [43]:
# This is how we predict. 
rf.predict([[0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])

array(['Miscellaneous, NEC'], dtype=object)

In [44]:
# Export the Output Headers to Excel
X_train.to_csv("Machine Learning Output - Source of Injury.csv", index=False)

In [45]:
sorted(zip(rf.feature_importances_,data_dummies.columns))

[(0.006272333042631982, 'Age_80 - 89'),
 (0.006482759050290856, 'Occupation_Apprentice or Trainee Roles'),
 (0.020254906160820586, 'Age_70 - 79'),
 (0.023906568234847398, 'Occupation_Maritime Roles'),
 (0.026757100569293757, 'Occupation_Explosives Roles'),
 (0.028322925316587366, 'Occupation_Other Role'),
 (0.03311236921253812, 'Occupation_Driller and Support Roles'),
 (0.03413599911476758, 'Occupation_Mine Supervisory and Management Roles'),
 (0.03614437657957671, 'Age_<20'),
 (0.03817404699056431,
  'Occupation_Technical Services (Geology, Survey, Engineer, Lab. Tech, OHS etc.)'),
 (0.03960343960960721, 'Occupation_Fixed Plant Operator and Support Roles'),
 (0.04621623647921875, 'Occupation_Labourer Roles'),
 (0.04777075868906936, 'Sex_Male'),
 (0.05035917587773981, 'Sex_Female'),
 (0.0571761896461134, 'Occupation_Underground Miner and Support Roles'),
 (0.06718262565573004, 'Age_60 - 69'),
 (0.06759091209633705, 'Age_50 - 59'),
 (0.0683745697046688, 'Age_30 - 39'),
 (0.06869374199610483, 'Age_20 - 29'),
 (0.06941153585504481, 'Age_40 - 49'),
 (0.07358506367173527, 'Occupation_Trades Roles'),
 (0.0904723664467121, 'Occupation_Mobile Plant Operator Roles')]