In [28]:
from sklearn import tree
import pandas as pd
import os

In [29]:
df = pd.read_csv(os.path.join("final_data.csv"))
df.head(1)

,mine_id,Operational Process,Date,State,Resource Mined,Underground Method,Accident Injury Illness Classification,Accident Type,Injury Count,Sex,...,Operator Contractor,Commodity WorkStatus,General Incident Type,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,1200945,Dredging Activities,13/10/2020,Indiana,Sand & gravel,0,Handling material,Caught in-under-between a moving and stationar...,1,Female,...,Operator,Sand & gravel operator,Handling material,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model 1 - Nature of Injury (NOI)

In [30]:
target = df["Nature of Injury"]
data = df[["Sex","Age", "Occupation"]]
data.head()

      Sex      Age      Occupation
0  Female  20 - 29  Labourer Roles
1  Female  30 - 39  Labourer Roles
2  Female  30 - 39  Labourer Roles
3  Female  30 - 39  Labourer Roles
4  Female  30 - 39  Labourer Roles

In [31]:
data_dummies = pd.get_dummies(data)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_dummies, target)

In [33]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.30355665839536805

In [34]:
# This is how we predict. 
rf.predict([[0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])

array(['Fracture, chip'], dtype=object)

In [35]:
# Export the Output Headers to Excel
X_train.to_csv("Machine Learning Output - Nature of Injury.csv", index=False)

In [36]:
sorted(zip(rf.feature_importances_,data_dummies.columns))

[(0.012627774032601891, 'Occupation_Apprentice or Trainee Roles'),
 (0.014309397123129874, 'Age_80 - 89'),
 (0.024513322858639445, 'Occupation_Maritime Roles'),
 (0.025333311564394875, 'Age_70 - 79'),
 (0.03003392088593091, 'Occupation_Explosives Roles'),
 (0.035059211050167474, 'Occupation_Mine Supervisory and Management Roles'),
 (0.037272380291834634, 'Occupation_Other Role'),
 (0.03790235340555316, 'Occupation_Driller and Support Roles'),
 (0.04145547444099731, 'Sex_Male'),
 (0.04210711624081497, 'Age_<20'),
 (0.04264136353254323, 'Sex_Female'),
 (0.043791034959414096,
  'Occupation_Technical Services (Geology, Survey, Engineer, Lab. Tech, OHS etc.)'),
 (0.045233564491373876, 'Occupation_Fixed Plant Operator and Support Roles'),
 (0.046848734431171636, 'Occupation_Underground Miner and Support Roles'),
 (0.05956843714556384, 'Age_40 - 49'),
 (0.06044934850957656, 'Age_60 - 69'),
 (0.06098342611726504, 'Occupation_Mobile Plant Operator Roles'),
 (0.06172529475150387, 'Occupation_Labourer Roles'),
 (0.06294137646526092, 'Age_30 - 39'),
 (0.06424289929687281, 'Age_20 - 29'),
 (0.06574701191346671, 'Age_50 - 59'),
 (0.08521324649192273, 'Occupation_Trades Roles')]