In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("final_data.csv"))
df.head(1)

,mine_id,Operational Process,Date,State,Resource Mined,Underground Method,Accident Injury Illness Classification,Accident Type,Injury Count,Sex,...,Operator Contractor,Commodity WorkStatus,General Incident Type,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,1200945,Dredging Activities,13/10/2020,Indiana,Sand & gravel,0,Handling material,Caught in-under-between a moving and stationar...,1,Female,...,Operator,Sand & gravel operator,Handling material,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model 4 - Activity (Act)

In [3]:
target = df["Activity"]
data = df[["Sex","Age", "Occupation"]]
data.head()

      Sex      Age      Occupation
0  Female  20 - 29  Labourer Roles
1  Female  30 - 39  Labourer Roles
2  Female  30 - 39  Labourer Roles
3  Female  30 - 39  Labourer Roles
4  Female  30 - 39  Labourer Roles

In [4]:
data_dummies = pd.get_dummies(data)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_dummies, target)

In [6]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.24731182795698925

In [7]:
# This is how we predict. 
rf.predict([[1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])

array(['Handling coal, rock, waste or ore'], dtype=object)

In [8]:
# Export the Output Headers to Excel
X_train.to_csv("Machine Learning Output - Activity.csv", index=False)

In [9]:
sorted(zip(rf.feature_importances_,data_dummies.columns))

[(0.004991492476043532, 'Occupation_Apprentice or Trainee Roles'),
 (0.013807249526366316, 'Age_80 - 89'),
 (0.017861667601022268, 'Age_70 - 79'),
 (0.01878399903321885, 'Occupation_Maritime Roles'),
 (0.02537029630479867, 'Occupation_Driller and Support Roles'),
 (0.025757234065988416, 'Occupation_Other Role'),
 (0.030916522462633114, 'Occupation_Mine Supervisory and Management Roles'),
 (0.032503737754188605,
  'Occupation_Technical Services (Geology, Survey, Engineer, Lab. Tech, OHS etc.)'),
 (0.03286839540430248, 'Occupation_Fixed Plant Operator and Support Roles'),
 (0.0335076816592964, 'Occupation_Explosives Roles'),
 (0.03503260054071539, 'Age_<20'),
 (0.03556093781695766, 'Sex_Male'),
 (0.03867912669219991, 'Sex_Female'),
 (0.05434760945027039, 'Age_20 - 29'),
 (0.054370796590135176, 'Age_30 - 39'),
 (0.05496044684799224, 'Occupation_Underground Miner and Support Roles'),
 (0.05561907860016111, 'Age_40 - 49'),
 (0.05613008658447835, 'Age_60 - 69'),
 (0.0645810952165448, 'Age_50 - 59'),
 (0.06720703043511321, 'Occupation_Labourer Roles'),
 (0.08901727294389333, 'Occupation_Mobile Plant Operator Roles'),
 (0.1581256419936796, 'Occupation_Trades Roles')]